@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;500;600;700&display=swap');

body {
  font-family: 'Jura', sans-serif;
  text-align: center;
}

.icon {
  max-width: 80px;
  min-height: 80px;
}


.text-container {
  max-width: 70%;
}

/*===NavBar Canidate===*/
.bg-body-tertiary {
    background-color: #B6FFBB !important;
    color:black;
}

/*===NavBar Company===*/
/* .bg-body-tertiary {
  background-color: #1F935B !important;
  color:white;
} */

.btn-primary {
  --bs-btn-bg: #B6FFBB;
  --bs-btn-color: black;
  --bs-btn-border-color: None;
  --bs-btn-margin: 10px;
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #B6FFBB;
}


/*===Homepage===*/
.home-container {
	margin-top: 50px;
  width: 60%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* @media (min-width: 992px) {

  .navbar,
  .navbar-default {
      background-image: linear-gradient(to right, #B6FFBB 70%, #1F935B 80%);
  }
} */


/* @media (max-width: 991px) {

  .navbar,
  .navbar-default {
      background-image: linear-gradient(to bottom, #B6FFBB 80%, #1F935B 90%);
  }
} */