@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;500;600;700&display=swap');


body {
  margin: 0;
  font-family: 'Jura', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  text-align: center;
}

code {
  font-family: 'Jura';
} 

.navbar,
.navbar-default {
    background-image: linear-gradient(to right,#B6FFBB 50%,#1F935B 100%)
}

body {
  font-family: 'Jura', sans-serif;
}